<!DOCTYPE html>
<html lang="en">

<!-- dustech/index.html  13 Nov 2019 12:55:11 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="irstheme">

<% const pageTitle = typeof pgTitle !== 'undefined' ? pgTitle : "Patil Machines Pvt Ltd"; %>
<% const pageDescription = typeof metaDescription !== 'undefined' ? metaDescription : "Patil Machines Pvt Ltd official website."; %>

<title><%= pageTitle %></title>
<meta name="description" content="<%= pageDescription %>">


<% const adminFlag = typeof isAdminPage !== 'undefined' ? isAdminPage : false; %>
<% if (adminFlag) { %>
  <meta name="robots" content="noindex, nofollow">
<% } %>


    <link rel="icon" type="image/x-icon" href="/assets/images/PM_LOGO.png">  <!--favicon-->

    
    <link href="/assets/css/themify-icons.css" rel="stylesheet">
    <link href="/assets/css/flaticon.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="/assets/css/owl.theme.css" rel="stylesheet">
    <link href="/assets/css/slick.css" rel="stylesheet">
    <link href="/assets/css/slick-theme.css" rel="stylesheet">
    <link href="/assets/css/swiper.min.css" rel="stylesheet">
    <link href="/assets/css/odometer-theme-default.css" rel="stylesheet">
    <link href="/assets/css/owl.transitions.css" rel="stylesheet">
    <link href="/assets/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
   
    <!--Font-awesome cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <%- include("../includes/navbar.ejs") %>

    

        <%- include("../includes/flash.ejs") %>
        <%- body -%>
    
    
    

    <%- include("../includes/footer.ejs") %>


     <!-- All JavaScript files
    ================================================== -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Plugins for this template -->
    <script src="/assets/js/jquery-plugin-collection.js"></script>

    <!-- Custom script for this template -->
    <script src="/assets/js/script.js"></script>


    

</body>
</html>

<!--CK Editor Styling-->

<style>
  .ck-content ul {
    list-style: disc;
    margin-left: 20px;
  }
  .ck-content ol {
    list-style: decimal;
    margin-left: 20px;
  }

  .ck-content ul li::marker {
    color: black; /* Or any color you want */
  }

  .ck-content ol li::marker {
    color: black;
  }

  .panel-body ul {
    list-style: disc;
    margin-left: 20px;
    padding-left: 20px;
  }

  .panel-body ol {
    list-style: decimal;
    margin-left: 20px;
    padding-left: 20px;
  }

  .panel-body li {
    color: #000000; /* or black or #212121 for better readability */
    font-size: 16px;
  }

  .panel-body p {
    color: #000000;
    font-size: 16px;
  }

  .panel-body table {
  width: 100%;           /* Full width */
  border-collapse: collapse;  /* Merge borders */
  margin-bottom: 1em;
  font-size: 16px;
  border: 1px solid #ddd;
}

.panel-body th,
.panel-body td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.panel-body th {
  background-color: #4CAF50; /* matching your green header */
  color: white;
}

.panel-body tr:nth-child(even) {
  background-color: #f9f9f9; /* striped rows */
}

.ck-content table,
.ck-content th,
.ck-content td,
.panel-body table,
.panel-body th,
.panel-body td {
  font-size: 16px;
  color: black !important;
}

</style>

